* {
  box-sizing: border-box;
}

body {
  background-color: #F1E6E6;
  color: #191826;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.image-container {
  width: 75%;
}

img {
  display: block;
  width: 100%;
}

.notes-container {
  background-color: #C1EDF0;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}

.app-header {
  background-color: #AA305C;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.app-header__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80%;
  margin-bottom: 1rem;
}

.add-new {
  background-color: #F8D038;
  border: solid 4px #66629D;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.add-new,
.search {
  /* font-family: "Neucha", cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.0rem;
  width: 90%;
}

.search {
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem;
  flex-grow: 1;
  background-color: #91E0E5;
  border: solid 4px #66629D;
  text-align: center;
  color: #191826;
}

.search::placeholder {
  color: #191826;
  font-size: 1.25rem;
  font-weight: bolder;
}

.note {
  width: 75%;
  height: 250px;
  /* max-height: 100vh; */
  margin: 10px;
  background-color: #fceeb5;
  border: 1px solid #AA305C;
  border-color: #AA305C;
  box-shadow: 2px 2px 3px #AA305C;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note__title {
  /* font-family: "Neucha", cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #AA305C;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #AA305C;
}

.note__title::placeholder {
  color: #AA305C;
  text-transform: uppercase;
}

.note__description {
  border: none;
  flex-grow: 1;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: #66629d;
  padding: 0.25rem;
}

.note__delete:hover {
  color: #AA305C;
  cursor: pointer;
}

footer {
  background-color: #AA305C;
}

.app-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.footer-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.footer-icons-sphere,
.footer-icons-sphere-drk {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-sphere {
  background-color: #F8D038;
}

.footer-icons-sphere-drk {
  background-color: #91E0E5;
}

a {
  color: #AA305C;
}