/* ==========================================================================
   CSS Reset by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/
   ========================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==========================================================================
   Base Styles - mobile first styling
   ========================================================================== */

body {
  background-color: #C1EDF0;
  color: #191826;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

/* ****** Header ****** */

.header-image-container {
  width: 75%;
}

.app-header {
  background-color: #AA305C;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.app-header__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80%;
  margin-bottom: 1rem;
}

.add-new {
  background-color: #F8D038;
  border: solid 4px #66629D;
  /* border-radius: 10px; */
  cursor: pointer;
  font-weight: bolder;
  outline: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.add-new,
.search {
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2.0rem;
  width: 90%;
}

.search {

  font-size: 1.25rem;
  margin: 0.5rem;
  flex-grow: 1;
  background-color: #91E0E5;
  border: solid 4px #66629D;
  text-align: center;
  color: #191826;
}

.search::placeholder {
  color: #191826;
  font-size: 1.25rem;
  font-weight: bolder;
}

/* ****** Notes Canvas ****** */

.notes-container {
  background-color: #C1EDF0;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}

.note {
  width: 75%;
  height: 15rem;
  margin: 1rem;
  background-color: #fceeb5;
  border: 1px solid #AA305C;
  border-color: #AA305C;
  box-shadow: 2px 2px 3px #AA305C;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note__title {
  /* font-family: "Neucha", cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #AA305C;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #AA305C;
}

.note__title::placeholder {
  color: #AA305C;
  text-transform: uppercase;
}

.note__description {
  border: none;
  flex-grow: 1;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: #66629d;
  padding: 0.25rem;
}

.note__delete:hover {
  color: #AA305C;
  cursor: pointer;
}

/* ****** Footer ****** */

footer {
  background-color: #AA305C;
}

.app-footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.footer-image-container {
  width: 75%;
}

.footer-icons {
  display: flex;
  margin: 3rem 0;
}

.footer-icons-sphere,
.footer-icons-sphere-drk {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  padding: 2rem;
  margin: 0 1rem;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-sphere {
  background-color: #F8D038;
}

.footer-icons-sphere-drk {
  background-color: #91E0E5;
}

a {
  color: #AA305C;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/* ----------- Tablets larger than 768px wide ----------- */
@media only screen and (min-width: 768px) {

  /* ****** Header ****** */
  .add-new {
    width: 45%;
    font-size: 2.25rem;
  }


  .search,
  .search::placeholder {
    font-size: 2rem;
  }

  .header-image-container {
    width: 75%;
  }

  /* ***** Notes Canvas ****** */

  .note {
    width: 40%;
  }

  /* ***** Footer ****** */
  .footer-image-container {
    width: 50%;
  }

  .footer-icons-sphere,
  .footer-icons-sphere-drk {
    margin: 0 2.0rem;
  }




}

/* ----------- Desktop Screenlarger than 1200px wide ----------- */
@media only screen and (min-width: 1200px) {

  /* ****** Header ****** */
  .header-image-container {
    width: 65%;
  }

  .app-header__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 80%;
    margin-bottom: 2.5rem;
  }

  .add-new {
    margin: 0 1.5rem;
  }

  .search {
    padding: 2.20rem;
  }

  /* ***** Notes Canvas ****** */

  .note {
    width: 25%;
  }

  /* ***** Footer ****** */

  .footer-image-container {
    width: 30%;
  }

  .app-footer {
    flex-flow: row nowrap;
    justify-content: space-between;
    /* padding: 0 1.5rem; */
  }

  .footer-image-container {
    margin-left: 6rem;
  }

  .icons {
    margin-right: 6rem;
  }
}